{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Arab Bank{% endblock %}</title>

    <!-- Footer CSS -->
    <link rel="stylesheet" href="{% static 'css/core/styles.css' %}">

    <!-- Bootstrap  -->
     <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script> -->
   
    <!-- Additional CSS -->
    {% block extra_css %}{% endblock %}
</head>
<body>
      <!-- Include Header -->
       {% block header %}

        {% include 'core/header.html' %}

       {% endblock %}

    <div class="page-container">
        <main class="main-content d-flex justify-content-center align-items-center">
            {% block content %}
            {% endblock %}
        </main>

        <!-- Include Footer -->
        {% block footer %}

            {% include 'core/footer.html' %}
    
        {% endblock %}
    </div>

    <!-- JavaScript -->
    {% block extra_js %}{% endblock %}


    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
   
</body>
</html>
